html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-image: url("background.png");
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    background-color: rgb(211, 228, 64);
}

button:hover {
    background-color: rgb(243, 255, 131);
    cursor: pointer;
}
/* defino la dimensión inicial del text GO!, el nombre de la animación, la duración, el tipo de animación es lineal
y el punto origen de la animación.*/
#go {
    height: 1px;
    animation: goanimation 2s ease;
    transform-origin: center;
}
/* Creo la anima */
@keyframes goanimation {
    35% {
        transform: scale(300) rotateZ(1800deg);
    }
    65% {
        transform: scale(300) rotateZ(1800deg);
    }
}

#mario {
    height: 60px;
    width: 60px;
    transform: scaleX(-1);
    position: absolute;
    top: 281px;
    left: 1000px;
    animation: mariotranslations 6s linear;
}

@keyframes mariotranslations {
    20% {
        transform: translateX(-345px) scaleX(-1);
    }
    22.5% {
        transform: translate(-400px, -100px) scaleX(-1);
    }
    25% {
        transform: translate(-450px, -150px) scaleX(-1);
    }
    30% {
        transform: translate(-540px, 10px) scaleX(-1);
    }
    35% {
        transform: translate(-608px, 188px) scaleX(-1);
    }
    37% {
        transform: translate(-622px, 165px) scaleX(-1);
    }
    39% {
        transform: translate(-630px, 217px) scaleX(-1);
    }
    56% {
        transform: translate(-888px, 217px) scaleX(-1);
    }
    62% {
        transform: translate(-908px, 410px) scaleX(-1);
    }
    68% {
        transform: translate(-930px, 603px) scaleX(-1);
    }
    72% {
        transform: translate(-985px, 603px) scaleX(-1);
    }
    74.5% {
        transform: translate(-1030px, 560px) scaleX(-1);
    }
    77% {
        transform: translate(-1070px, 530px) scaleX(-1);
    }
    100% {
        transform: translate(-1070px, 530px) scaleX(-1);
    }
}

#shell {
    height: 32px;
    width: 30px;
    position: absolute;
    top: 526px;
    left: 400px;
    animation: shelltranslations 6s linear;
}

@keyframes shelltranslations {
    35% {
        transform: translate(0px, 0px);
    }
    36% {
        transform: translate(0px, -20px) rotate(180deg);
    }
    56% {
        transform: translate(0px, 550px) rotate(180deg);
    }
    100% {
        transform: translate(0px, 550px) rotate(180deg);
    }
}