<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle</title>
    </head>
    <body>
        {% if chiste %}
            {% if chiste.adultos %}
                <p>* Chiste para adultos *</p>
            {% endif %}
            <h1>{{ chiste.titulo }}</h1>
            <p>{{ chiste.texto }}</p>
            <p>{{ chiste.fecha }}</p>
        {% else %}
            <p>El chiste no existe</p>
        {% endif %}
    </body>
</html>