<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestor de tareas</title>
        <link rel="stylesheet" href="/public/css/style.css">
        <script src="../public/js/client.js"></script>
    </head>
    <body>
        <header>
            <h1>Gestor de Tareas</h1>
        </header>
        <main>
            <form action="">
                <label for="task-input">Nueva Tarea:</label>
                <input type="text" name="task-name" id="task-input" required>
                <button type="submit" id="">Agregar</button>
            </form>
            <div id="tasks-container">             
                <div id="no-iniciated">
                    <h2>No iniciadas</h2>
                </div>
                <div id="iniciated">
                    <h2>Iniciadas</h2>
                </div>
                <div id="finalizated">
                    <h2>Finalizadas</h2>
                </div>
            </div>
        </main>
        <footer>
            <a href="https://github.com/alvarobarasona/DAW_2/tree/main/PROYECTO_DWEC_DIW_GESTOR_TAREAS_PRUEBA_2" target="blank">
                <span>Enlace al repositorio en GitHub</span>
            </a>
        </footer>
    </body>
</html>