@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
//Array con los colores de la web.
$web_colors: (
    "background_color" : rgb(0, 9, 37),
    "dark_blue" : #001F3F,
    "mid_blue" : #0074D9,
    "light_blue" : #3dc8ff,
    "font_color" : white,
    "add_button" : #7be700,
    "modify_button" : #ee8309,
    "delete_button" : #ff4538,
    "move_button" : #9236c7
);
// Distancia de paddings y espacio entre contenedores en la web.
$space: 10px;
//Distancia entre los títulos de cada columna de tareas y el contenedor de tareas.
$tasks_header_title_space: 20px;
//Padding del footer.
$footer_padding: 50px;
// Radio de las esquinas de los divs de la web.
$containers_radius: 8px;
//Tipografía de la web
$font_type: 'PT Sans', sans-serif;
//Tamaño del texto de los botones.
$buttons_font_size: 20px;
// Array con los nombres de los id de los botones de cada tarea.
$task_types: ("modify-task-button", "delete-task-button", "move-task-button");
// Array con los nombres de los colores de los botones de cada tarea.
$button_names: ("modify_button", "delete_button", "move_button");
// Porcentaje máximo
$max_percentage: 100%;