<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body>
        <h1>Meses</h1>
        <ul>
            <li><a href="{% url 'frutaverdura:productos' mes=1 %}">Enero</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=2 %}">Febrero</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=3 %}">Marzo</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=4 %}">Abril</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=5 %}">Mayo</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=6 %}">Junio</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=7 %}">Julio</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=8 %}">Agosto</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=9 %}">Septiembre</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=10 %}">Octubre</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=11 %}">Noviembre</a></li>
            <li><a href="{% url 'frutaverdura:productos' mes=12 %}">Diciembre</a></li>
        </ul>
    </body>
</html>