<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recetas - Detail</title>
    </head>
    <body>
        <h1>{{ receta.nombre }}</h1>
        <p>Ingredientes: {{ receta.ingredientes }}</p>
        <p>{{ receta.instrucciones }}</p>
        <p>Tiempo de preparación: {{ receta.tiempo_preparacion }} h</p>
        <img src="{{ receta.foto.url }}" alt="{{ receta.nombre }}">
    </body>
</html>