<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gestor de Tareas</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Gestor de Tareas</h1>
            <input type="text" id="task-input" placeholder="Nueva Tarea">
            <button id="add-task">Agregar</button>
            <button id="delete-all-tasks">Eliminar Todas</button>
            <button id="download-pdf">Descargar Tareas en PDF</button>
            <div class="task-list"></div>
            <div class="task-columns">
                <div class="task-column" id="new-tasks">
                    <h2>Nuevas Tareas</h2>
                    <div class="task-list" id="new-task-list"></div>
                </div>
                <div class="task-column" id="in-progress-tasks">
                    <h2>Tareas en Curso</h2>
                    <div class="task-list" id="in-progress-task-list"></div>
                </div>
                <div class="task-column" id="completed-tasks">
                    <h2>Tareas Terminadas</h2>
                    <div class="task-list" id="completed-task-list"></div>
                </div>
            </div>
        </div>
    <script src="/js/script.js"></script>
    </body>
</html>
