@mixin flex_display($display_option) {
    display: flex;
    flex-direction: $display_option;
}

@mixin aparience($display_option, $background_color, $font_color) {
    @include flex_display($display_option);
    background-color: $background_color;
}