@import "abstracts/variables";
@import "abstracts/mixins";
html {
    height: $max_percentage;
}
body {
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    grid-template-columns: 1fr;
    background-color: map-get($web_colors , "background_color");
    height: $max_percentage;
    margin: 0;
    color: map-get($web_colors, "font_color");
    font-family: $font_type;
}
header {
    grid-row: 1;
    grid-column: 1;
    background-color: map-get($web_colors, "mid_blue" );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space;
}
h1 {
    margin: 0;
}
label {
    display: flex;
    flex-wrap: nowrap;
}
#task-input {
    width: $max_percentage;
}
main {
    grid-row: 2;
    grid-column: 1;
    padding: $space;
    display: flex;
    flex-direction: column;
    gap: $space;
}
form {
    background-color: map-get($web_colors, "mid_blue" );
    padding: $space;
    border-radius: $containers_radius;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: $space;
    height: fit-content;
}
p {
    margin: {
        top: 0;
        bottom: $space;
    }
}
#type-tasks-container {
    display: flex;
    gap: $space;
    height: $max_percentage;
}

#no-iniciated {
    @include tasks_container(map-get($web_colors, "dark_blue"), $containers_radius);
}
#iniciated {
    @include tasks_container(map-get($web_colors, "mid_blue"), $containers_radius);
}
#finalizated {
    @include tasks_container(map-get($web_colors, "light_blue"), $containers_radius);
}
#no-iniciated-tasks {
    @include task_container();
}
#iniciated-tasks {
    @include task_container();
}
#finalizated-tasks {
    @include task_container();
}
.data-task {
    display: flex;
    gap: $space;
}
#add-task-button {
    @include button("add_button", "mid_blue");
}
.no-iniciated-task {
    @include task("mid_blue");
}
.iniciated-task {
    @include task("light_blue");
}
.finalizated-task {
    @include task("dark_blue");
}
footer {
    grid-row: 3;
    grid-column: 1;
    background-color: map-get($web_colors, "dark_blue");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $footer_padding;
}
a {
    color: map-get($web_colors, "font_color");
    text-decoration: none;
}