body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.task-list {
    margin-top: 20px;
}

.task-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-columns {
    display: flex;
    justify-content: space-between;
}

.task-column {
    width: 30%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.task-item button {
    padding: 5px 10px;
    background-color: red; /* Fondo rojo */
    color: white; /* Letras en blanco */
    border: none; /* Remueve el borde */
    cursor: pointer; /* Cambia el cursor a pointer */
    border-radius: 4px; /* Bordes redondeados */
}

.task-item button.edit-btn {
    background-color: blue;
    color: white;
}

.task-item button.edit-btn:hover {
    background-color: darkblue;
}

.task-item button:hover {
    background-color: darkred; /* Fondo más oscuro al pasar el mouse */
}
