<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coches - Lista</title>
        <style>
            img {
                width: 200px;
            }
        </style>
    </head>
    <body>
        {% if coches %}
            <h1>Coches</h1>
            {% for coche in coches %}
                <a href="{% url 'cochines:detalle' slug=coche.slug %}">
                    <img src="{{ coche.foto.url }}" alt="{{ coche.fabricante }}-{{ coche.modelo }}">
                    <p>{{ coche.fabricante }} {{ coche.modelo }}</p>
                    <p>Precio: {{ coche.precio }}</p>
                    <p>Estado: {{ coche.estado }}</p>
                    <p>Combustible: {{ coche.combustible }}</p>
                </a>
                <br>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            <p>No hay coches añadidos a la BBDD</p>
        {% endif %}
    </body>
</html>