<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Galería - Detalle obra</title>
        <style>
            img {
                width: 700px;
            }
        </style>
    </head>
    <body>
        <h1>{{ obra.titulo }}</h1>
        <p>Artista: {{ obra.artista }}</p>
        <p>{{ obra.descripcion }}</p>
        <p>Fecha de creación: {{ obra.fecha_creacion }}</p>
        <p>Precio: {{ obra.precio }} €</p>
        <p>En venta: {{ obra.en_venta }}</p>
        <img src="{{ obra.imagen.url }}" alt="{{ obra.titulo }}">
    </body>
</html>