@import "abstracts/variables";
html {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    background-color: map-get($web_colors , "background_color");
    height: 100%;
    margin: 0;
    color: map-get($web_colors, "font_color");
    font-family: $font_type;
}
header {
    grid-row: 1;
    grid-column: 1;
    background-color: map-get($web_colors, "mid_blue" );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
        top: 0px;
        bottom: 0px;
    };
}
h1 {
    margin: 0;
}
main {
    grid-row: 2;
    grid-column: 1;
    padding: $space;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    
}
form {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: map-get($web_colors, "mid_blue" );
    padding: $space;
    border-radius: $containers_radius;
    margin-bottom: $space;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: $space;
}

#tasks-container {
    display: flex;
    justify-content: space-between;
    gap: $space;
}
@mixin task($color, $radius) {
    background-color: $color;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space;
    width: 100%;
    height: fit-content;
    h2 {
        margin: 0;
    }
}
#no-iniciated {
    @include task(map-get($web_colors, "dark_blue"), $containers_radius);
}
#iniciated {
    @include task(map-get($web_colors, "mid_blue"), $containers_radius);
}
#finalizated {
    @include task(map-get($web_colors, "light_blue"), $containers_radius);
}
#no-iniciated-tasks {
    width: 100%;
}
#no-iniciated-task {
    background-color: ;
}
footer {
    grid-row: 3;
    grid-column: 1;
    background-color: map-get($web_colors, "dark_blue");
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: map-get($web_colors, "font_color");
    text-decoration: none;
}

/*
Azul Oscuro: #001F3F
Azul Medio: #0074D9
Azul Claro: #7FDBFF
Azul Turquesa: #39CCCC
Azul Marino: #001f3f
Azul Grisáceo: #8499a5
*/