<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tareas - Index</title>
    </head>
    <body>
        {% if tareas %}
            {% for tarea in tareas %}
                <a href="{% url 'tareillas:detalle' tarea.pk %}">{{ tarea.titulo }}</a><br>
            {% endfor %}
        {% else %}
            <p>No hay tareas añadidas</p>
        {% endif %}
        <form action="{% url 'tareillas:add' %}">
            <button>Crear</button>
        </form>
    </body>
</html>