<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle</title>
    </head>
    <body>
        <h1>{{ mantenimiento.edificio.nombre }}</h1>
        <p>Fecha: {{ mantenimiento.fecha }}</p>
        <p>dirección: {{ mantenimiento.edificio.direccion }}</p>
        <p>Correo: {{ mantenimiento.edificio.mail }}</p>
        <p>Técnico: {{ mantenimiento.tecnico.nombre }}</p>
        <p>Especialidad: {{ mantenimiento.tecnico.especialidad }}</p>
        <p>Teléfono: {{ mantenimiento.tecnico.telefono }}</p>
        <p>Descripción: {{ mantenimiento.descripcion }}</p>
    </body>
</html>