$background_color: #001F3F;
$header_color: #0074D9;
$space: 10px;
$background_color_no_iniciated: rgb(0, 9, 37);
$background_color_task1:
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    display: flex;
    flex-direction: column;
    background-color: $background_color;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: white;
}
header {
    background-color: $header_color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space;
}
h1 {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    gap: $space;
    padding: $space;
}
form {
    background-color: $header_color;
    padding: $space;
    border-radius: $space;
    display: flex;
    justify-content: space-between;
    gap: $space;
}
#input-container {
    display: flex;
    gap: $space;
    flex-grow: initial;
}
input {
    
}
#tasks-container {
    display: flex;
    justify-content: space-between;
    gap: $space;
}
h2 {
    margin: 0;
}
.task {
    display: flex;
    justify-content: center;
    padding: $space;
    width: 90%;
    border-radius: $space;
}
.no-iniciated {
    background-color: rgb(0, 9, 37);
}
.iniciated {
    background-color: #0074D9;
}
.finalizated {
    background-color: #7FDBFF;
}
/*
Azul Oscuro: #001F3F
Azul Medio: #0074D9
Azul Claro: #7FDBFF
Azul Turquesa: #39CCCC
Azul Marino: #001f3f
Azul Grisáceo: #8499a5
*/