<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos - Detail</title>
    </head>
    <body>
        {% if productos %}
        <h1>Productos</h1>
            {% for producto in productos %}
                <div>
                    <h2>{{ producto.nombre }}</h2>
                    <img src="{{ producto.foto.url }}" alt="{{ producto.nombre }}">
                    <p>{{ producto.descripcion }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay productos disponibles para este mes</p>
        {% endif %}
    </body>
</html>