<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle</title>
    </head>
    <body>
        {% if familia %}
            <h1>{{ familia.nombre }}</h1>
            <p>{{ familia.descripcion }}</p>
            {% for ciclo in familia.ciclo_set.all %}
                <div>
                    <h2>{{ ciclo.nombre }}</h2>
                    <p>{{ ciclo.descripcion }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No existe la famila seleccionada</p>
        {% endif %}
    </body>
</html>