@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
html {
  height: 100%; }
  @media screen and (max-widht: 320px) {
    html {
      height: 866px; } }

body {
  display: grid;
  grid-template-rows: 1fr 20fr 1fr;
  grid-template-columns: 1fr;
  background-color: #000925;
  height: 100%;
  margin: 0;
  color: white;
  font-family: "PT Sans", sans-serif; }

header {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0074D9; }

h1 {
  margin: 0; }

main {
  grid-row: 2;
  grid-column: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; }

form {
  background-color: #0074D9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: fit-content; }

#input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 85%; }

#task-input {
  width: 90%; }

p {
  margin-top: 0;
  margin-bottom: 10px; }

#type-tasks-container {
  display: flex;
  gap: 10px;
  height: 100%; }

#no-iniciated {
  background-color: #001F3F;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px; }
  #no-iniciated h2 {
    margin: 0; }

#iniciated {
  background-color: #0074D9;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px; }
  #iniciated h2 {
    margin: 0; }

#finalizated {
  background-color: #3dc8ff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 10px; }
  #finalizated h2 {
    margin: 0; }

#no-iniciated-tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 10px;
  align-items: center; }

#iniciated-tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 10px;
  align-items: center; }

#finalizated-tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 10px;
  align-items: center; }

.data-task {
  display: flex;
  gap: 10px; }

#add-task-button {
  color: #7be700;
  background-color: #0074D9;
  border-style: none;
  font-size: 20px;
  cursor: pointer; }
  #add-task-button:hover {
    color: white; }

#print-task-button {
  color: white;
  background-color: #0074D9;
  border-style: none;
  font-size: 20px;
  cursor: pointer; }
  #print-task-button:hover {
    color: white; }

.no-iniciated-task {
  background-color: #0074D9;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; }
  .no-iniciated-task .modify-task-button {
    color: #ee8309;
    background-color: #0074D9;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .no-iniciated-task .modify-task-button:hover {
      color: white; }
  .no-iniciated-task .delete-task-button {
    color: #ff4538;
    background-color: #0074D9;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .no-iniciated-task .delete-task-button:hover {
      color: white; }
  .no-iniciated-task .move-task-button {
    color: #9236c7;
    background-color: #0074D9;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .no-iniciated-task .move-task-button:hover {
      color: white; }

.iniciated-task {
  background-color: #3dc8ff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; }
  .iniciated-task .modify-task-button {
    color: #ee8309;
    background-color: #3dc8ff;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .iniciated-task .modify-task-button:hover {
      color: white; }
  .iniciated-task .delete-task-button {
    color: #ff4538;
    background-color: #3dc8ff;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .iniciated-task .delete-task-button:hover {
      color: white; }
  .iniciated-task .move-task-button {
    color: #9236c7;
    background-color: #3dc8ff;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .iniciated-task .move-task-button:hover {
      color: white; }

.finalizated-task {
  background-color: #001F3F;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; }
  .finalizated-task .modify-task-button {
    color: #ee8309;
    background-color: #001F3F;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .finalizated-task .modify-task-button:hover {
      color: white; }
  .finalizated-task .delete-task-button {
    color: #ff4538;
    background-color: #001F3F;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .finalizated-task .delete-task-button:hover {
      color: white; }
  .finalizated-task .move-task-button {
    color: #9236c7;
    background-color: #001F3F;
    border-style: none;
    font-size: 20px;
    cursor: pointer; }
    .finalizated-task .move-task-button:hover {
      color: white; }

footer {
  grid-row: 3;
  grid-column: 1;
  background-color: #001F3F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px; }

a {
  color: white;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
