<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Videojuegos - Formulario registro cliente</title>
    </head>
    <body>
        <h1>Formulario registro cliente</h1>
        <form action="{% url 'jueguitos:formulariocliente' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Añadir</button>
        </form>
    </body>
</html>