$background_color1: green;
$background_color2: red;
$font_color1: white;
$font_color2: yellow;
$font_size1: 20px;
$font_size2: 40px;
$border_container1: 2px solid black;
$border_container2: 1px solid blue;